import java.util.Scanner;
public class Exercise5 {

	public static void main(String[] args) {
		Scanner kb = new Scanner(System.in);
		System.out.print("Enter the mass in Kilograms: ");
		String answer = kb.nextLine();
		double kilos = Double.parseDouble(answer);
		double joules = (3.0*100000000);
		
		System.out.println("The eneregy produced in Joules is = " + kilos*joules*joules);
		System.out.println("The number of 100-watt light bulbs powered = " + (((kilos*joules*joules)/(360000))));
		
		
	}

}
